.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid grey;
}

.header img.image{
        width: 100px;
        height: 100px;
}

.nav-items{
    display: flex;
}

li{
    list-style-type: none;
    padding: 10px;

}
